In [2]:
import numpy as np 
import matplotlib.pyplot as plt
import pandas as pd

In [53]:
df = pd.read_csv('Data.csv')

In [63]:
# creacion de la matriz de variables
# variables independientes
xs = df.iloc[:, :-1]
# variable dependiente

y = df.iloc[:, -1]



xs['Salary'] = xs['Salary'].fillna(xs['Salary'].mean()).astype(float)
xs['Age'] = xs['Age'].fillna(xs['Age'].mean()).round(4)
xs

   Country      Age        Salary
0   France  44.0000  72000.000000
1    Spain  27.0000  48000.000000
2  Germany  30.0000  54000.000000
3    Spain  38.0000  61000.000000
4  Germany  40.0000  63777.777778
5   France  35.0000  58000.000000
6    Spain  38.7778  52000.000000
7   France  48.0000  79000.000000
8  Germany  50.0000  83000.000000
9   France  37.0000  67000.000000

In [70]:
xs.describe(), df.describe()

(             Age        Salary
 count  10.000000     10.000000
 mean   38.777780  63777.777778
 std     7.253777  11564.099406
 min    27.000000  48000.000000
 25%    35.500000  55000.000000
 50%    38.388900  62388.888889
 75%    43.000000  70750.000000
 max    50.000000  83000.000000,
              Age        Salary
 count   9.000000      9.000000
 mean   38.777778  63777.777778
 std     7.693793  12265.579662
 min    27.000000  48000.000000
 25%    35.000000  54000.000000
 50%    38.000000  61000.000000
 75%    44.000000  72000.000000
 max    50.000000  83000.000000)